{% load static %}
<form>
<div id="tr-{{ tier_row.id }}" class="flex gap-4" ondragover="allowDrop(event)" hx-trigger="drop" hx-post="/dropped" ondrop="onDrop(event);" hx-swap="beforeend" hx-target="#tr-inner-{{ tier_row.id }}">
    <input type="hidden" name="tier_row_id" value="tr-{{ tier_row.id }}"/>

    <div class="flex flex-none flex-1 flex-col rounded bg-tier{{ index }} h-16 w-16 justify-center items-center">
        <p>{{ tier_row.name}}</p>
    </div>

    <div id="tr-inner-{{ tier_row.id }}" class="flex flex-row flex-wrap gap-2">
        {% for tier_item in tier_row.items.all %}
            {% include "components/tier_item.html" with tier_item=tier_item %}
        {% endfor %}
    </div>

</div>
</form>
<hr class="h-px my-2 bg-gray-200 border-1 dark:bg-gray-600">
