{% extends 'layout.html' %}
{% load static %}

{% block content %}

<div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow-2xl sm:p-8 dark:bg-bg2 dark:border-gray-700">
    <div class="flex items-center justify-between mb-4">
        <h2 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Tier Lists</h2>
    </div>
    <div class="flow-root">
        <ul id="tierlist-list" role="list">
            {% for tierlist in tierlists %}
                {% include 'components/tierlist-li.html' with tierlist=tierlist %}
            {% endfor %}
        </ul>
    </div>

    <hr class="h-px my-2 bg-gray-200 border-1 dark:bg-gray-600">
    <form hx-post="{% url 'tierlist-create-default' %}" hx-target="#tierlist-list" hx-swap="beforeend" hx-on::after-request="this.reset()">
        <div class="flex">
            <input type="text" id="tierlist-name" name="name" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Create new...">

            <button class="flex-none ml-1 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-xl rounded-xl text-md p-2 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="submit">
                <i class="fa-solid fa-circle-plus"></i>
            </button>
        </div>
    </form>
</div>


{% endblock %}
